<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block pageTitle %}
    <title>{{ title }} - 500mLのホームページ</title>
  {% endblock %}
  <link rel="stylesheet" href="/css/katex.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="container">
    <aside id="menu">
      <div>
        {% include "./components/sidebar.njk" %}
      </div>
    </aside>
    <div id="menuButton">
    <img src="/img/Hamburger_icon.svg"> 
    </div>
    <div id="content">
      {% block title %}
        <h1 class="align-center">{{ title }}</h1>
      {% endblock %}
      <article>
        {{ content | safe }}
      </article>
      {% block footer %}
        {% include "./components/footer.njk" %}
      {% endblock %}
    </div>
  </div>
  <script>
    function toggleMenu() {
        // メニューの状態を反転
      const currentMenuOpen = menu.classList.contains('menuOpen');
      const newMenuOpen = !currentMenuOpen;

      if (newMenuOpen) {
        menu.classList.add('menuOpen');
        content.classList.add('menuOpen');
        menuButton.classList.add('menuOpen');
      } else {
        menu.classList.remove('menuOpen');
        content.classList.remove('menuOpen');
        menuButton.classList.remove('menuOpen');
      }
       // localStorageにメニューの状態を保存
      localStorage.setItem('menuOpen', newMenuOpen);
    }

    function initMenu() {
      const menu = document.getElementById('menu');
      const content = document.getElementById('content');
      const menuButton = document.getElementById('menuButton');

      const menuOpen = localStorage.getItem('menuOpen');

      let shouldOpen = window.innerWidth > 768;

      if (menuOpen !== null) {
        shouldOpen = menuOpen === 'true';
      }

      menu.classList.add('no-animation');
      content.classList.add('no-animation');
      menuButton.classList.add('no-animation');

      if (shouldOpen) {
        menu.classList.add('menuOpen');
        content.classList.add('menuOpen');
        menuButton.classList.add('menuOpen');
      } else {
        menu.classList.remove('menuOpen');
        content.classList.remove('menuOpen');
        menuButton.classList.remove('menuOpen');
      }

      menuButton.addEventListener('click', toggleMenu);

      setTimeout(() => {
        menu.classList.remove('no-animation');
        content.classList.remove('no-animation');
        menuButton.classList.remove('no-animation');
        if (window.innerWidth <= 768) {
          const menuOpen = localStorage.getItem('menuOpen');
          console.log(menuOpen);
          if (menuOpen === 'true'){
            toggleMenu();
          }
        }
      }, 10);
    }

    window.addEventListener('DOMContentLoaded', initMenu);
    window.addEventListener('pageshow', (event) => {
      if (event.persisted) {
        initMenu();
      }
    });
  </script>
</body>
</html>