{% extends "layouts/base.njk" %}

{% block pageTitle %}
  <title>ブログ/{{ title }} - 500mLのホームページ</title>
  <meta property="og:title" content="ブログ/{{ title }} - 500mLのホームページ">
  <meta property="og:description" content="{{content | getDescription}}">
  <meta property="og:url" content="{{'https://500ml.moe' + page.url}}">
  <meta property="og:image" content="https://500ml.moe/img/gohya_syoumeisyasin.png">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="500mLのホームページ">
  <meta property="og:locale" content="ja_JP">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@0500mL">
  <meta name="twitter:title" content="ブログ/{{ title }} - 500mLのホームページ">
  <meta name="twitter:description" content="{{content | getDescription}}">
  <meta name="twitter:image" content="https://500ml.moe/img/gohya_syoumeisyasin.png">
{% endblock %}

{% block footer %}
<hr />
<div class="footer-container">
    <img src="/img/banner.gif">
    <p>⑤ 2025 500mL No rights reserved.</p>
    <a href="/blog/">ブログトップに戻る</a>
</div>
{% endblock %}