{% extends "layouts/base.njk" %}

{% block pageTitle %}
  <title>ブログ/{{ title }} - 500mLのホームページ</title>
{% endblock %}

{% block footer %}
<hr />
<div class="footer-container">
    <img src="/img/banner.gif">
    <p>⑤ 2025 500mL No rights reserved.</p>
    <a href="/blog/">ブログトップに戻る</a>
</div>
{% endblock %}