<h2 class="align-center">500mL</h2>

<a href="/"><img width="100%" src="/img/gohya_syoumeisyasin.png"></a>

<table width="100%">
  <tbody>
    <tr><th>コンテンツ</th></tr>
    {% for content in contents.contents %}
      <tr><td><a href={{ content.url }}>{{ content.title }}</a></td></tr>
    {% endfor %}
  </tbody>
</table>

<table width="100%">
  <tbody>
    <tr><th>SNS</th></tr>
    <tr><td><a href="https://x.com/0500mL" target="_blank" rel="noopener noreferrer">Twitter</a></td></tr>
  </tbody>
</table>