<h2>500mL</h2>

なんかいい画像を貼る

<table width="100%">
  <tbody>
    <tr><td>コンテンツ</td></tr>
    {% for content in contents.contents %}
      <tr><td><a href={{ content.url }}>{{ content.title }}</a></td></tr>
    {% endfor %}
  </tbody>
</table>

<table width="100%">
  <tbody>
    <tr><td>SNS</td></tr>
    <tr><td>Twitter</td></tr>
  </tbody>
</table>