body {
  margin: 0;
}

#container {
  display: flex;
}

.no-animation {
  animation: none !important;
  transition: none !important;
}

#menu {
  border-right: 3px double brown;
  width: 13rem;
  height: 100vh;
  overflow-y: auto;
  padding: 0.5rem;
  position: fixed;
  background-color: aliceblue;
  transform: translateX(-14rem);
  transition: transform 0.3s ease-in-out;
}

#menu.menuOpen {
  transform: translateX(0);
}

#content {
  flex: 1;
  padding: 1rem;
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
}

#content.menuOpen {
  margin-left: 14rem;
}

@media screen and (max-width: 768px) {
  #content {
    margin-left: 0 !important;
  }
}

#menuButton {
  padding: 1rem;
  margin: 0.5rem;
  margin-left: 0.5rem;
  position: fixed;
  transition: margin-left 0.3s ease-in-out;
}

#menuButton.menuOpen {
  margin-left: 14.5rem;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.footer-container {
  text-align: center;
}

.footer-container p {
  font-size: 0.7rem;
}

tr {
  text-align: center;
}

tr:first-child td {
  border: 1px solid black;
  background-color: bisque;
}

tr td {
  background-color: pink;
}

.works-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.works-container div:nth-child(1) {
  width: calc(100% - 10rem);
}
.works-container div:nth-child(2) {
  text-align: center;
  width: 10rem;
}
.works-container div:nth-child(3) {
  width: 10rem;
}
.works-container div:nth-child(4) {
  width: calc(100% - 10rem);
}

.works-desc {
  margin: 1rem;
}